@model IEnumerable<Kambao.Core.Faixa>

@{
    ViewBag.Title = "Index";
}

</br></br>

<a class="btn btn-inverse" href="#myModal" data-toggle="modal"><i class="icon-tasks icon-white"></i> Nova Faixa</a>

</br></br>
<table class="table table-striped table-bordered">
    <tr>        
        <th>Descrição</th>        
    </tr>

@foreach (var faixa in Model) 
{
    <tr>        
        <td class="span12">@faixa.Descricao</td>
    </tr>
}
</table>

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nova Faixa</h3>
  </div>
  <div class="modal-body">
    <div id="form">
    
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Voltar</button>
    <button type="submit" class="btn btn-inverse btn-large">Salvar</button>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: "/Faixas/Create",
            success: function (data) {
                $('#form').html(data).show();
            }
        });
    });
</script>