@model IEnumerable<Kambao.Core.Faixa>

@{
    ViewBag.Title = "Index";
}

<a class="btn btn-inverse" href="/Faixas/Create"><i class="icon-tasks icon-white"></i> Nova Faixa</a>
</br></br>
<table class="table table-striped table-bordered">
    <tr>        
        <th>Descrição</th>        
    </tr>

@foreach (var faixa in Model) 
{
    <tr>        
        <td class="span12">@faixa.Descricao</td>
    </tr>
}
</table>
