@{
    ViewBag.Title = "Index";
}


<div class="hero-unit">
<h1>Bem vindo ao Kambao!</h1>
<p>Aqui você pode gerenciar as tarefas de sua equipe de maneira simples e eficiente.</p>
<p><a class="btn btn-primary btn-large">Entrar</a></p>
</div>
