@{
    ViewBag.Title = "Index";
}


<div class="hero-unit">
<h1>Bem vindo ao Kambao!</h1>
<!--<p>Aqui você pode gerenciar as tarefas de sua equipe de maneira simples e eficiente.</p>-->

<p>Kambao Chat Beta :)</p>
<input type="text" id="textInput" />
<ul id="messages">

</ul>

<button id="buttonSubmit">Enviar</button>
<!--<a id="buttonSubmit" class="btn btn-primary btn-large">Enviar</a>-->
</div>

<script src="~/Scripts/jquery.signalR-1.0.0-rc2.js"></script>    
<!-- SignalR Secret Sauce -->
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // cache connection object
        var messages = $.connection.messageHub;
        // wire up writeMessage
        messages.client.writeMessage = function (message) {
            $("#messages").append("<li>" + message + "</li>");
        };

        //wire up button click event 
        $("#buttonSubmit").click(function () {           
            var text = $("#textInput").val();
            messages.server.sendMessage(text);
        });

        // start connection
        $.connection.hub.start();

    });
</script>