@model IEnumerable<Kambao.Models.Tarefa>

@{
    ViewBag.Title = "Index";
}

<a class="btn btn-inverse" href="/Tarefas/Create"><i class="icon-tasks icon-white"></i> Nova Tarefa</a>
</br></br>
<table class="table table-striped table-bordered">
    <tr>        
        <th>Código</th>
        <th>Descrição</th>        
    </tr>

@foreach (var tarefa in Model) 
{
    <tr>        
        <td class="span1">@tarefa.Codigo</td>
        <td class="span11">@tarefa.Descricao</td>
    </tr>
}
</table>