@{
    ViewBag.Title = "Index";
}

<h2>Quadro</h2>

<!--
<div class="card solicitacao">
    <b>S2012010408204</b>
    <p>Criar controle de tarefas(solicitações, pendências e melhorias)</p>
</div>
<div class="card pendencia">
    <b>P2012050464243</b>
    <p>Não está sendo possível copiar o conteúdo dos cartões</p>
</div>
<div class="card melhoria">
    <b>M2012010404111</b>
    <p>Criar quadro KANBAN com faixas configuráveis</p>
</div>
-->

    <div id="drop-um" class="faixa" > Previsto
		<div id="assinados" class="card solicitacao">
			<!--<div id="card1Header" class="cardHeader">				
				<div id="tagc" class="tag1" style="float: left;"><img src="icons/16px/bug2.png" vspace="2px" hspace="2px"/></div>
				<div id="tagd" class="tag2" style="float: left;"><img src="icons/16px/alarm2.png" vspace="2px" hspace="2px"/></div>			
			</div>-->
			<h2>
				<!--<span><a href="#" class="lnk-minimizar">[ - ]</a> <a href="#" class="lnk-maximizar">[ [] ]</a> <a href="#" class="lnk-remover">[ x ]</a></span>-->
				20120900322 
			</h2>		
			<p>As férias coletivas quando é de um mês para outro os valores de licença remunerada estão divergentes na base de cálculo de um mês para outro. Nubiana ciente do assunto e tem banco de dados.<small>Início: 27/01/2013 08:05</small><small>Fim: 29/01/2013 18:40</small></p>
		</div>
		<!-- / box abaxo-assinados -->

		<div id="debates" class="card pendencia">			
			<!--<div id="card2Header" class="cardHeader">				
				<div id="tagc" class="tag1" style="float: left;"><img src="icons/16px/bug2.png" vspace="2px" hspace="2px"/></div>
				<div id="tagd" class="tag2" style="float: left;"><img src="icons/16px/alarm2.png" vspace="2px" hspace="2px"/></div>			
			</div>-->
			<h2>
				<!--<span><a href="#" class="lnk-minimizar">[ - ]</a> <a href="#" class="lnk-maximizar">[ [] ]</a> <a href="#" class="lnk-remover">[ x ]</a></span>-->
				Debates mais polêmicos
			</h2>	
			<p>Majoramento da pena de políticos corruptos<small>8 comentários - 4 apoiaram </small></p>				
		</div>
		<div id="majoramento" class="card melhoria">			
			<!--<div id="card3Header" class="cardHeader">				
				<div id="tagc" class="tag1" style="float: left;"><img src="icons/16px/bug2.png" vspace="2px" hspace="2px"/></div>
				<div id="tagd" class="tag2" style="float: left;"><img src="icons/16px/alarm2.png" vspace="2px" hspace="2px"/></div>			
			</div>-->
			<h2>
				<!--<span><a href="#" class="lnk-minimizar">[ - ]</a> <a href="#" class="lnk-maximizar">[ [] ]</a> <a href="#" class="lnk-remover">[ x ]</a></span>-->
				Movimento Contábil RMS				
			</h2>	
			<p>Gerar arquivo no layout Importação de Movimento Contábil RMS - V65.<small>8 comentários - 4 apoiaram </small></p>				
		</div>
	<!-- / box debates -->
	</div>
	<!-- / box drop-um -->
	<div id="drop-dois" class="faixa"> Desenvolvimento
		<div id="perfis" class="card pendencia">
			<!--<div id="card3Header" class="cardHeader">				
				<div id="tagc" class="tag1" style="float: left;"><img src="icons/16px/bug2.png" vspace="2px" hspace="2px"/></div>
				<div id="tagd" class="tag2" style="float: left;"><img src="icons/16px/alarm2.png" vspace="2px" hspace="2px"/></div>			
			</div>-->
			<h2>
				<!--<span><a href="#" class="lnk-minimizar">[ - ]</a> <a href="#" class="lnk-maximizar">[ [] ]</a> <a href="#" class="lnk-remover">[ x ]</a></span>-->
				Perfis cadastrados
			</h2>
			<p>Bruno Magrani de Souza<small>Rio de Janeiro - Rio de Janeiro</small></p>		
		</div>
		<!-- / box perfil cadastrado -->
		<div id="blog" class="card solicitacao">
			<!--<div id="card4Header" class="cardHeader">				
				<div id="tagc" class="tag1" style="float: left;"><img src="icons/16px/bug2.png" vspace="2px" hspace="2px"/></div>
				<div id="tagd" class="tag2" style="float: left;"><img src="icons/16px/alarm2.png" vspace="2px" hspace="2px"/></div>			
			</div>-->
			<h2>
				<!--<span><a href="#" class="lnk-minimizar">[ - ]</a> <a href="#" class="lnk-maximizar">[ [] ]</a> <a href="#" class="lnk-remover">[ x ]</a></span>-->
				Democracia blog
			</h2>
			<p>Esboçando a inclusão digital... <small>06/08/2007 13:47</small></p>		
		</div>
		<div id="other" class="card solicitacao">
			<!--<div id="card5Header" class="cardHeader">				
				<div id="tagc" class="tag1" style="float: left;"><img src="icons/16px/bug2.png" vspace="2px" hspace="2px"/></div>
				<div id="tagd" class="tag2" style="float: left;"><img src="icons/16px/alarm2.png" vspace="2px" hspace="2px"/></div>			
			</div>-->
			<h2>
				<!--<span><a href="#" class="lnk-minimizar">[ - ]</a> <a href="#" class="lnk-maximizar">[ [] ]</a> <a href="#" class="lnk-remover">[ x ]</a></span>-->
				Other
			</h2>		
			<p>Bla bla bla... <small>06/08/2007 13:47</small></p>		
		</div>		
	</div>
	<div id="drop-tres" class="faixa"> Homologação </div>
	<div id="drop-quatro" class="faixa"> Beta teste </div>
	<div id="drop-cinco" class="faixa"> Aprovado </div>
	<div id="drop-seis" class="faixa"> Realizado </div>