@model IEnumerable<Kambao.Models.Tarefa>

@{
    ViewBag.Title = "Index";
}

    <div id="drop-um" class="faixa" > Previsto
         @foreach (var tarefa in Model) 
        {
            <div id="@tarefa.Id" class="card solicitacao">
			    <h2>@tarefa.Codigo</h2>		
			    <p>@tarefa.Descricao</p>
		    </div>
        }
	</div>
	
	<div id="drop-dois" class="faixa"> Desenvolvimento
	</div>
	<div id="drop-tres" class="faixa"> Homologação </div>
	<div id="drop-quatro" class="faixa"> Beta teste </div>
	<div id="drop-cinco" class="faixa"> Aprovado </div>
	<div id="drop-seis" class="faixa"> Realizado </div>